table{
    background-color:rgb(227, 215, 139);
    width:80%;
    height:150px;
    font-family:serif;
    margin-left:auto;
    margin-right:auto;
  border: 3px solid;
  border-collapse: collapse;
  border-style:double;
}
body{
    background-image:url("p2.jpg");
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    font-size:50px;
    color:rgb(88, 64, 18);
    text-shadow: -4px -2px 0 rgb(240, 227, 85);
}
h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    font-size:25px; 
    color:rgb(156, 146, 75);
    text-shadow: 3px 2px 0 rgb(231, 225, 159);
}
.jojo{
    display: block;
    background-color:rgb(171, 153, 62);
    font-size:17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
box-shadow:6px 7px 0 rgb(145, 118, 43);}
.dodo{
    display: block;
    color:rgb(28, 36, 89);
    font-size:13px;
    font-weight:bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(199, 255, 255);
    box-shadow:6px 7px 0 rgb(139, 196, 204);
}
img{
    width:300px;
    height:400px;
}
